

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

a{
  text-decoration: none;  
}

h1{
    padding-left: 0.9em;
    font-size: 70px;
    
}

h2{
    font-size: 50px;
    text-align: center;
    background-color: rgb(113, 153, 136);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 120px;
    height: 100%;
    margin: 0;
}

p{
    font-size: 20px;
    padding-right: 9em;
    padding-left: 9em;
    padding-top: 75px;
    text-align: center;
    margin: 0;
}

.info4{
    background-color: rgb(230, 219, 185);
}

.info3{
    background-color: rgb(218, 162, 176);
}



.menu{
    background-color: black;
    
}

.list{
    display: flex;
    position: relative;
    margin: 0;
}

.menuitem a{
    padding: 2em;
    display: block;
    color: rgb(255, 255, 255);
     }



.menuitem a:hover{
color: rgb(255, 255, 255);
font-weight: bold;

}

.contenedor{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "i1 i2 n1 " 
    "i3 i3 n1 "
    "n2 i4 i5 ";
   
}
.img1{
    height: 100%;
   width: 100%;
   object-fit: cover;
    }
    
.img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.info1{grid-area: i1;}
.info2{grid-area: i2;}
.nina1{grid-area: n1;}
.info3{grid-area: i3;}
.nina2{grid-area: n2;}
.info4{grid-area: i4;}
.info5{grid-area: i5;}