*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}
.menu{
    opacity: .5;
    background-color: black;
}
.list{
    display: flex;
    justify-content: center;
    position: relative;
}
.menuitem a {
    padding: 1em;
    display: flex;
    color: white;
    align-items: center;
}
.menuitem a:hover{
    color: rgb(255, 0, 179);
    font-weight: bold;
}
.menu .list .menuitem:hover .submenu{
    display: block;
}
.menuitem a .material-icons{
    margin-right: 10px;
    font-size: 1.2em;
}

.item {
    display: inline-block;
    margin: 0;
    width: 100%; 
}
.boton a{
    display: block;
    display:inline-block;
    background-color: rgb(255, 205, 236);
    border-radius: 5px;
    padding: 5px;
    color:rgb(0, 0, 0);
}

.boton a:hover{
    color:rgb(255, 0, 195);
}
.capa{
    width: 100%;
    height: 100%;
    background-color: pink;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}
    
.a { 
    grid-area: 1 / 1 / 4 / 4; 
}
.b { 
    grid-area: 4 / 1 / 11 / 4; 
}
.c { 
    grid-area: 1 / 4 / 5 / 8;
}
.d { 
    grid-area: 5 / 4 / 11 / 7; 
}
.e { 
    grid-area: 5 / 7 / 8 / 11; 
}
.f { 
    grid-area: 8 / 7 / 11 / 11; 
}
.g { 
    grid-area: 1 / 8 / 5 / 11; 
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}