/** HEADER **/

.header{
    background-color: #0F2B36;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    box-shadow: 4px 8px 31px -4px rgba(15, 43, 54, 0.37);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header .headerleft{
    text-align: center;
    align-items: center;
    padding-left: 20px;
}

.header .headerleft svg{
    padding: 5px 0 0 0;
}

.header .headerleft a.regresonombre{
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0 0 0 20px;
    color: #02A576;
    font-size: 45px;
    font-weight: bolder;
}

div.header .headernav{
    
}

nav.sections{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

nav.sections a{
    font-size: 20px;
}

a.SelectedSection{
    color: #F3FFFF;
}

a.NonSelectedSection{
    color: #C8D8D8;
}

/** INFO **/
.aboutme{
    margin: 140px 100px 80px 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.aboutmebold{
    color: #0F2B36;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.aboutmeinfo{
    padding-right: 50px;
}

.aboutmetext{
    display: flex;
    color: #0F2B36;
    font-size: 19px;
}

.boldtext{
    font-weight: bold;
    color: #0F2B36;
}

.aboutmeimg img{
    border-radius: 20px;
    max-width: 100%;
}

.contactbutton a:hover {
    background-color: #02A576;
}

.contactbutton{
    border-radius: 10px;
    background-color: #005A5B;
    color: #F3FFFF;
    padding: 12px 22px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/** FAQ **/

.faqsection {
    display: flex;
    margin: 40px 100px 80px 100px;
    flex-direction: column;
}

.faqtitle{
    color: #02A576;
    font-size: 40px;
}

.faqs{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

.faqcolumn {
    flex: 1;
    max-width: 400px;
}

.faqtext{
    color: #0F2B36;
}

.faqform {
    max-width: 30%;
    margin-top: 40px;
}

#questionInput {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #0F2B36;
    opacity: 0.5;
    color: #F3FFFF;
}

::placeholder{
    color: #F3FFFF;
}

.askButton {
    background-color: #02A576;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.askButton:hover {
    background-color: #02855a;
}

/** FOOTER **/

.footer {
    background-color:#0F2B36;
    color: #F3FFFF; 
    padding: 20px;
    text-align: center;
    border-radius: 20px 20px 0 0 ;
    box-shadow: 4px 8px 31px -4px rgba(15, 43, 54, 0.37);
    
}

.footermessage {
    margin-bottom: 10px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    color:#F3FFFF
}

.sociallink {
    margin: 0 10px;
}

.sociallink img {
    width: 30px;
    height: auto;
}