* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


.rectangulo{
    width: 1342px;
height: 311px;

background-color:black;

}

.titulo{
position:absolute;

font-size: 50px;
line-height: 169px;
margin-left: 450px;
margin-top: 60px;
display: flex;
justify-content: center;
align-items: center;

color:WHITE;

}

.menu{
    
    list-style: none;
    
    background-color: #E1DEF8;
    width: 1342px;
    height: 40px;
   display: flex;
   justify-content: center;
  
  
}


.menu li a{
    font-family: 'Nunito', sans-serif; 
    margin-left: 50px;
 text-decoration: none;
 color: rgb(2, 2, 2);
 padding: 10px;
 display: block;
 font-size: 15px;
}

.menu li{
    display: inline-block;
    align-items: center;
}

.menu li a:hover{
    color: white;
    background-color: black;
}

.contenedor{
    width: 1342px;
height: 742px;
background-color: white;
}

.titulo1{
 
     margin-left:235px;
    font-size: 40px;
   position: relative;
   right: 80px;
   top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.img1{
    margin: 40px;
    border-radius: 57px;
    float: left;
    border: solid #ffe647;
    border-width:7px ;
    
}

p{ font-size: 15px;
    font-family:  'Nunito', sans-serif; ;;
    width: 1300px;
    
}


.box{
    
   position: relative;
  
    padding: 10px;
    margin-top: 40px;
    
}


.info{
   
    margin-top: 145px;
    
}
.locus{
    margin-bottom: 10px;
}

.img2{
    margin: 10px;
     border-radius: 57px;
    float: right;
    position: relative;
    right: 60px;
    border: solid #172964;
    border-width:7px ;
    font-size: 20px;
   
}

.contenedor2{
    width: 1342px; 
    height: 578px;
    background:white;
    display: flex;
    align-items: center;
}



.p2{
    width: 620px;
    margin-left: 60px;
}

.lampara{
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 20px;
}

.info2{
    position: relative;
    top: 140px;
left: 40px;}

.contenedor3{
    width: 1342px;
height: 742px;
background-color: white;
}

.titulo3{
 
     margin-left:200px;
    font-size: 40px;
    padding: 10px;
   position: relative;
   right: 80px;
   top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.img3{
    margin: 40px;
    border-radius: 57px;
    float: left;
    border: solid #196419;
    border-width:7px ;
    
}

.p3{ font-size: 15px;
    font-family:  'Nunito', sans-serif; ;;
    width: 1300px;
    
}


.box3{
    
   position: relative;
  
    padding: 10px;
    margin-top: 40px;
    
}


.info3{
   margin-top: 145px;
    
}
.pav{
    margin-bottom: 10px;
    font-size: 20px;
}

.img4{
    
    border-radius: 57px;
    float: right;
    position: relative;
    top: 20px;
    right: 50px;
    border: solid #ce0512;
    border-width:7px ;
   
   
}

.contenedor4{
    width: 1342px; 
    height: 578px;
    background:white;
    
}



.p4{
    width: 570px;
    margin-left: 50px;
}

.museo{
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 20px;
}

.info4{
    position: relative;
    top: 120px;
    }

.box4{
    position: relative;
    top: 45px;
    position: relative;
    
}

.contenedor5{
    width: 1342px;
height: 742px;
background-color: white;
}

.titulo3{
 
     margin-left:200px;
    font-size: 40px;
    padding: 10px;
   position: relative;
   right: 80px;
   top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.img5{
    margin: 40px;
    border-radius: 57px;
    float: left;
    border: solid #3190e9;
    border-width:7px ;
    
}

.p5{ font-size: 15px;
    font-family:  'Nunito', sans-serif; ;;
    width: 1300px;
    
}


.box5{
    
   position: relative;
  
    padding: 10px;
    margin-top: 40px;
    
}


.info5{
   margin-top: 180px;
  
    
}
.elektra{
    margin-bottom: 10px;
    font-size: 20px;
}

.titulo5{
 
    margin-left:175px;
   font-size: 40px;
   padding: 10px;
  position: relative;
  right: 80px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


    
.volver{
display: flex;
align-items: center;
justify-content: center;
position: relative;
left: 500px;
font-size: 15px;
font-family: 'Nunito', sans-serif;
text-decoration: none;
color: black;
width: 120px;
height: 40px;
background-color:#E1DEF8 ;
top: 220px;
margin-left: 60px;
border-radius: 57px;
    

}
    

    
.volver:hover{
    color: white;
    background-color: black;
}

.caja{
    width: 1342px; 
    height: 578px;
    background:white;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto1{
    border-radius: 57px;
    margin: 30px;
    border: solid orange;
    border-width:7px ;
}

