*{
    margin: 0;
    padding: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    text-decoration: none;
}

.logo{
    width: 100px;
    position: relative;
    margin-right: 30px;
}

.portada{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.lista{
    list-style: none;
    display: flex;
    position: relative;
    font-size: 1.1rem;
    padding: 20px;
    align-items: center;
}

.menu{
    background-color: black;
}

.categorias a{
    padding: 1.5em;
    color: white;
    position: relative;
}

.categorias a:hover{
    color: rgb(255, 217, 0);
}

.submenu{
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 15px;
}

.subcategorias{
    justify-content: space-between;
    height: 30px;
    font-weight: lighter;
}

.menu .lista .categorias:hover .submenu{
    display: block;
}

footer{
    background:rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 270px;
    color: black;
    display: flex;
    position: absolute;
    bottom: 0;
}

.etiqueta{
    border: 1px solid black;
    background: none;
    width: 100%;
    height: 30px;
    color: black;
    font-size: 0.85rem;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 7px;
    font-family: 'Courier New', Courier, monospace;
}
.etiqueta2{
    background: none;
    width: 100%;
    height: 30px;
    color: black;
    font-size: 0.85rem;
    padding: 6px;
    margin-bottom: 7px;
}

label{
    font-size: .9rem;
    font-family: 'Josefin Sans', sans-serif;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.columnas1{
    width: 400px;
    margin-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.3em;
}

.columnas2{
    width: 400px;
    margin-left: 60px;
}

.linea{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-size: 1em;
}

.linea img{
    margin-right: 15px;
    align-self: center;
}

.button{
    border: 1px solid black;
    opacity: 60%;
    background: black;
    width: 60%;
    height: 30px;
    color:white;
    font-size: 0.85rem;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
}
h1{
   padding-bottom: 1rem;
   font-size: 1.4rem;
}