*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
ul, li{
    list-style: none;
}
h1{
    font-family: 'Red Rose';
    font-weight: 400;
    color: black;
}
.material-icons{
    margin-right: 10px;
    font-size: 1,2em;
}
.menu{
    background-color: white;
    border-bottom: 2px solid black;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.list{
    display: flex;
    justify-content: right;
    position: relative
}
.menuitem a{
    padding: 1em 1.5em;
    display: block;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
}
.matali_crasset a{
    position: absolute;
    left: 20px;
    top: 10px;
}
 #menubio a:hover{
    background-color: #27AEC2;
}
#menuformacion a:hover{
    background-color: #038C25;
}
#menuinfluencias a:hover{
    background-color: #F2CB05;
}
#menuproyectos a:hover{
    background-color: #F27405;
}
#menupremios a:hover{
    background-color: #E63827;
}
#menuvolver a:hover{
    background-color: #D9298A;
}
.submenuitem a:hover{
    background-color: #F27405;
}
.submenu{
    position: absolute;
    background-color: #F27405;
    color: black;
    list-style: none;
    top: 50px;
    display: none;
}
.menu .list .menuitem:hover .submenu{
    display: block;
}
.cabecera{
    object-fit: cover;
    width: 100%;
    height: 950px;
    display: block;
}
h2{
    font-family: 'Red Rose';
    font-weight: 600;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
p{
    font-family: 'Red Rose';
    font-weight: 400;
    color: black;
    font-size: 1.2em;
}
/*Biografía*/
.contenedorbio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10em;
}
.itembio-1{
    margin-right: 10em;
}
.retrato{
    width: 400px;
}
/*Formación académica*/
.contenedorformacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10em;
    padding-left: 10em;
    padding-bottom: 10em;
    position: relative;
}
.itemformacion-1{
    margin-right: 50em;
}
/*Margen dch*/
.lineadch1{
    width: 550px;
    height: 45px;
    background-color: #27AEC2;
    border-radius: 40px 0 0 40px;
    position: absolute;
    right: 0;
    top: 160px;
    animation: lineadch1 2s ease-in-out 3s infinite alternate-reverse;
}
.lineadch2{
    width: 500px;
    height: 45px;
    background-color: #038C25;
    border-radius: 40px 0 0 40px;
    margin-top: 2.5em;
    position: absolute;
    right: 0;
    top: 205px;
    animation: lineadch2 2s ease-in-out 3s infinite alternate-reverse;
}
.lineadch3{
    width: 450px;
    height: 45px;
    background-color: #F2CB05;
    border-radius: 40px 0 0 40px;
    margin-top: 2.5em;
    position: absolute;
    right: 0;
    top: 290px;
    animation: lineadch3 2s ease-in-out 3s infinite alternate-reverse;
}
.lineadch4{
    width: 400px;
    height: 45px;
    background-color: #F27405;
    border-radius: 40px 0 0 40px;
    margin-top: 2.5em;
    position: absolute;
    right: 0;
    top: 375px;
    animation: lineadch4 2s ease-in-out 3s infinite alternate-reverse;
}
.lineadch5{
    width: 350px;
    height: 45px;
    background-color: #E63827;
    border-radius: 40px 0 0 40px;
    margin-top: 2.5em;
    position: absolute;
    right: 0;
    top: 460px;
    animation: lineadch5 2s ease-in-out 3s infinite alternate-reverse;
}
.lineadch6{
    width: 300px;
    height: 45px;
    background-color: #D9298A;
    border-radius: 40px 0 0 40px;
    margin-top: 2.5em;
    position: absolute;
    right: 0;
    top: 545px;
    animation: lineadch6 2s ease-in-out 3s infinite alternate-reverse;
}
/*Animaciones margen derecha*/
@keyframes lineadch1{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 550px;}
    100% {width: 550px;}
}
@keyframes lineadch2{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 500px;}
    100% {width: 500px;}
}
@keyframes lineadch3{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 450px;}
    100% {width: 450px;}
}
@keyframes lineadch4{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 400px;}
    100% {width: 400px;}
}
@keyframes lineadch5{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 350px;}
    100% {width: 350px;}
}
@keyframes lineadch6{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 300px;}
    100% {width: 300px;}
}
/*Margen izq*/
.lineaizq1{
    width: 550px;
    height: 45px;
    background-color: #27AEC2;
    border-radius: 0 40px 40px 0;
    position: absolute;
    left: 0;
    top: 160px;
    animation: lineaizq1 2s ease-in-out 3s infinite alternate-reverse;

}
.lineaizq2{
    width: 500px;
    height: 45px;
    background-color: #038C25;
    border-radius: 0 40px 40px 0;
    margin-top: 2.5em;
    position: absolute;
    left: 0;
    top: 205px;
    animation: lineaizq2 2s ease-in-out 3s infinite alternate-reverse;
}
.lineaizq3{
    width: 450px;
    height: 45px;
    background-color: #F2CB05;
    border-radius: 0 40px 40px 0;
    margin-top: 2.5em;
    position: absolute;
    left: 0;
    top: 290px;
    animation: lineaizq3 2s ease-in-out 3s infinite alternate-reverse;
}
.lineaizq4{
    width: 400px;
    height: 45px;
    background-color: #F27405;
    border-radius: 0 40px 40px 0;
    margin-top: 2.5em;
    position: absolute;
    left: 0;
    top: 375px;
    animation: lineaizq4 2s ease-in-out 3s infinite alternate-reverse;
}
.lineaizq5{
    width: 350px;
    height: 45px;
    background-color: #E63827;
    border-radius: 0 40px 40px 0;
    margin-top: 2.5em;
    position: absolute;
    left: 0;
    top: 460px;
    animation: lineaizq5 2s ease-in-out 3s infinite alternate-reverse;
}
.lineaizq6{
    width: 300px;
    height: 45px;
    background-color: #D9298A;
    border-radius: 0 40px 40px 0;
    margin-top: 2.5em;
    position: absolute;
    left: 0;
    top: 545px;
    animation: lineaizq6 2s ease-in-out 3s infinite alternate-reverse;
}
/*Animaciones margen izquierda*/
@keyframes lineaizq1{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 550px;}
    100% {width: 550px;}
}
@keyframes lineaizq2{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 500px;}
    100% {width: 500px;}
}
@keyframes lineaizq3{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 450px;}
    100% {width: 450px;}
}
@keyframes lineaizq4{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 400px;}
    100% {width: 400px;}
}
@keyframes lineaizq5{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 350px;}
    100% {width: 350px;}
}
@keyframes lineaizq6{
    0% {width: 0;}
    15% {width: 0;}
    75% {width: 300px;}
    100% {width: 300px;}
}
/*Influencias*/
.contenedorinfluencias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10em;
    position: relative;
}
.iteminfluencias-2{
    margin-left: 50em;
}
.imgredonda{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.imgredonda-1{
    position: absolute;
    top: 260px;
    left: 80px;
}
.imgredonda-2{
    position: absolute;
    top: 260px;
    left: 320px;
}
.imgredonda-3{
    position: absolute;
    top: 260px;
    left: 560px;
}
.imgredonda-4{
    position: absolute;
    top: 500px;
    left: 80px;
}
.imgredonda-5{
    position: absolute;
    top: 500px;
    left: 320px;
}
.imgredonda-6{
    position: absolute;
    top: 500px;
    left: 560px;
}
.centro{
    text-align: center;
    padding-top: 5em;
}
/*Proyectos icónicos*/
.contenedorproyectos{
    padding: 5em 10em 10em 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.itemproyecto-1, .itemproyecto-2, .itemproyecto-3, .itemproyecto-4, .itemproyecto-5{
    position: relative;
    margin: 40px;
}
h3{
    font-family: 'Red Rose';
    position: absolute;
    top: 315px;
    left: 10px;
}
.tituloazul{
    background-color: #27AEC2;
    border-radius: 0 40px 40px 0;
    height: 25px;
    width: 260px;
    display: inline;
}
.titulomagenta{
    background-color: #D9298A;
    border-radius: 0 40px 40px 0;
    height: 25px;
    width: 260px;
    display: inline;
}
.tituloamarillo{
    background-color: #F2CB05;
    border-radius: 0 40px 40px 0;
    height: 25px;
    width: 260px;
    display: inline;
}
.tituloverde{
    background-color: #038C25;
    border-radius: 0 40px 40px 0;
    height: 25px;
    width: 260px;
    display: inline;
}
.titulorojo{
    background-color: #E63827;
    border-radius: 0 40px 40px 0;
    height: 25px;
    width: 260px;
    display: inline;
}
/*Premios*/
.info1{ grid-area: i1;}
.info2{ grid-area: i2;}
.info3{ grid-area: i3;}
.info4{ grid-area: i4;}
.info5{ grid-area: i5;}
.info6{ grid-area: i6;}
.info7{ grid-area: i7;}
.info8{ grid-area: i8;}
.info9{ grid-area: i9;}
.info10{ grid-area: i10;}
.info11{ grid-area: i11;}
.info12{ grid-area: i12;}
.info13{ grid-area: i13;}

.contenedorpremios{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 600px 150px 150px 150px 150px;
    grid-template-rows: auto 150px;
    align-items: stretch;
    padding: 10em 5em;
}
.item-a{
    background-color: transparent;
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    margin: 0 10em;
}
.item-b{
    background-color: #038C25;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    width: 200px;
}
.item-c{
    background-color: #D9298A;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    width: 200px;
}
.item-d{
    background-color: #F27405;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 7 / 8;
    grid-row: 1 / 2;
    width: 200px;
}
.item-e{
    background-color: #F2CB05;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 8 / 9;
    grid-row: 1 / 2;
    width: 200px;
}
.item-f{
    background-color: #E63827;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    width: 200px;
}
.item-g{
    background-color: #F2CB05;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    width: 200px;
}
.item-h{
    background-color: #038C25;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 7 / 8;
    grid-row: 2 / 3;
    width: 200px;
}
.item-i{
    background-color: #27AEC2;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 8 / 9;
    grid-row: 2 / 3;
    width: 200px;
}
.item-j{
    background-color: #27AEC2;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    width: 200px;
}
.item-k{
    background-color: #F27405;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 6 / 7;
    grid-row: 3 / 4;
    width: 200px;
}
.item-l{
    background-color: #E63827;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 7 / 8;
    grid-row: 3 / 4;
    width: 200px;
}
.item-m{
    background-color: #D9298A;
    font-size: 0.8em;
    justify-self: center;
    padding: 2em;
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    width: 200px;
}
/*Footer menú*/
.contenedorfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em 3em 0;
    position: relative;
}
.itemfooter-1, .itemfooter-2, .itemfooter-3, .itemfooter-4, .itemfooter-5, .itemfooter-6{
    position: relative;
    margin: 40px; 
}
.menuazul{
    width: 200px;
    height: 40px;
    background-color: #27AEC2;
    border-radius: 40px;
}
.menuverde{
    width: 200px;
    height: 40px;
    background-color: #038C25;
    border-radius: 40px;
}
.menuamarillo{
    width: 200px;
    height: 40px;
    background-color: #F2CB05;
    border-radius: 40px;
}
.menunaranja{
    width: 200px;
    height: 40px;
    background-color: #F27405;
    border-radius: 40px;
}
.menurojo{
    width: 200px;
    height: 40px;
    background-color: #E63827;
    border-radius: 40px;
}
.menumagenta{
    width: 200px;
    height: 40px;
    background-color: #D9298A;
    border-radius: 40px;
}
.mfbio{
    position: absolute;
    top: 10px;
    left: 65px;
}
.mfformacion{
    position: absolute;
    top: 10px;
    left: 22px;   
}
.mfinfluencias{
    position: absolute;
    top: 10px;
    left: 62px;
}
.mfproyectos{
    position: absolute;
    top: 10px;
    left: 35px;
}
.mfpremios{
    position: absolute;
    top: 10px;
    left: 69px;  
}
.mfvolver{
    position: absolute;
    top: 10px;
    left: 85px;
}
/*Page 2*/
.contenedortriptico{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10em 10em 0 10em;
    position: relative;
}
.itemtriptico-1, .itemtriptico-2, .itemtriptico-3, .itemtriptico-4, .itemtriptico-5{
    position: relative;
    margin: 20px ;
}
.contenedorproyecto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10em;
    position: relative;
}
.itemproy-1, .itemproy-3, .itemproy-5{
    margin-right: 50em;
}
.itemproy-2, .itemproy-4{
    margin-left: 50em;
}
/*forms*/
.contenedorformulario{
    position: relative;
    left: 650px;
    padding: 10em 0;
}
.formulario{
    background: rgb(39,174,194);
    background: linear-gradient(87deg, rgba(39,174,194,1) 0%, rgba(242,203,5,1) 35%, rgba(230,56,39,1) 100%);
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
    border-radius: 40px;
    border: black solid 1px;
}
.posicionsubtitulo{
    margin-left: 108px;
}
.input_text{
    padding: 0.5em;
    margin-bottom: .5em;
}
.etiqueta{
    margin: 0.5em 0;
    font-family: 'Red Rose';
    font-size: 1em;
    position: absolute;
    top: 280px;
    left: 90px;
}
.etiqueta1{
    margin: 0.5em 0;
    font-family: 'Red Rose';
    font-size: 1em;
    position: absolute;
    top: 495px;
    left: 90px;
}
.etiqueta2{
    margin: 5.5em 0;
    font-family: 'Red Rose';
    font-size: 1em;
    position: absolute;
    top: 490px;
    left: 90px;
}
.highlight{
    color: #D9298A;
    font-family: 'Red Rose';
    font-weight: bold;
    font-size: 1em;
}
.marcadormensaje{
    font-family: 'Red Rose';
    font-size: 1em;
    border-radius: 20px;
    border: black solid 1px;
    width: 455px;
    position: absolute;
    left: 75px;
    top: 315px;
}
.marcadordatos1{
    font-family: 'Red Rose';
    font-size: 1em;
    margin: 0 3em;
    border-radius: 40px;
    border: black solid 1px;
    position: absolute;
    left: 25px;
    top: 530px;
}
.marcadordatos2{
    font-family: 'Red Rose';
    font-size: 1em;
    margin: 4.6em 3em;
    border-radius: 40px;
    border: black solid 1px;
    position: absolute;
    left: 25px;
    top: 530px;
}
.boton_primario{
    padding: 0.5em;
    background-color: #D9298A;
    border: black solid 1px;
    border-radius: 40px;
    margin-top: .5em;
    color: black;
    position: absolute;
    left: 75px;
    top: 650px;
    width: 215px;
    height: 40px;
}
