html, 
body .app{
    /*background: linear-gradient(225deg, rgba(254,236,233,1) 0%, rgba(255,222,184,1) 33%, rgba(255,202,202,1) 67%, rgba(224,224,224,1) 100%);*/
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 32px;
    color: rgba(211, 41, 46, 1); 
}

.app{
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
}

/* HEADER*/ 

.app .mainHeader{
    width: 100%;
    padding: 60px 100px 0px 100px;
    display: grid;
    grid-template-rows: repeat( 3, 106px);
    grid-row-gap: 34px;
    
}

.app .mainHeader .logoMeseguer{
    grid-row: 1 / span 1;  
    max-height: 106px;
    width: auto;
}

.app .mainHeader .mainNav{
    display: grid;
    grid-row: 2;   
}

.app .mainHeader .mainNav .navList{
    list-style: none;
    grid-row: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
    margin: 0;
}

.app .mainHeader .mainNav .navList .navListElem{
    border-radius: 10px;
    padding: 0.2rem 0.6rem ;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.app .mainHeader .mainNav .navList .navListElem:hover{
    background-color: rgb(228, 226, 226);
    transform: scale3d(1.1, 1.1, 1);
}

.app .mainHeader .mainNav .navList .navListElem span{
    color: rgba(211, 41, 46, 1);
}

.app .mainHeader .linea{
    color: rgba(211, 41, 46, 1);
    grid-row: 3;
    align-self: self-start;
}

/*mainContent*/

.app .mainContent {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-column-gap: 12px;
}

/*mailingList*/

.app .mainContent .mailingList{
    grid-column: 1;
    display: flex;
    flex-flow: column wrap;
}

.app .mainContent .mailingList h2{
    padding: 0 0 1rem 0;
    margin: 0;
    text-align: left;
}

.app .mainContent .mailingList span{
    padding: 0 0 0.5rem 0;
    margin: 0;
}

.app .mainContent .mailingList .formulario{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 10px;
    border: transparent;
    padding: 0.2rem 1.25rem;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.app .mainContent .mailingList .formulario:hover{
    background-color: rgb(228, 226, 226);
}

.app .mainContent .mailingList .formulario input{
    font-size: 1rem;
    font-weight: thin;
    border: none;
    background-color: transparent; 
}

.app .mainContent .mailingList .formulario input::placeholder{
    color: rgba(211, 41, 46, 1);
}


.app .mainContent .mailingList .formulario button{
    color: rgba(211, 41, 46, 1);
    border: none;
    background-color: transparent; 
}

/*mainWork*/

.app .mainContent .mainWorks{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.app .mainContent .mainWorks .work{
    position: relative;
    object-fit: contain;
    width: calc(50% - 6px);
    margin: 0 6px 25px 0;
    overflow: hidden;
    align-items: flex-start;
    align-content: flex-start;
}

.app .mainContent .mainWorks .work .workThumb{
    width: 100%;
    display: block;
    transition: filter 1s ease;
    
}

.app .mainContent .mainWorks .work:hover .workThumb{
    opacity: 0.25;
}

.app .mainContent .mainWorks .work .workTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    z-index: 1;
    color: rgba(211, 41, 46, 1);
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 1rem;
    
}

.app .mainContent .mainWorks .work:hover .workTitle{
    opacity: 1;
}

/*mainFooter*/

.app .mainFooter{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: 1fr ;
    grid-column-gap: 12px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 34px;
}

.app .mainFooter .lineaFooter{
    color: rgba(211, 41, 46, 1);
    grid-column: 1 / span 3;
    grid-row: 1;
    align-self: self-start;
    
}

.app .mainFooter .firma{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: thin; 
    padding-top: 24px;
}

.app .mainFooter .socialMedia{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column; 
    padding-top: 24px;
    justify-content: center;
    align-content: center;
}

.app .mainFooter .socialMedia span{
    width: 100%;
}

.app .mainFooter .socialMedia .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
}

.app .mainFooter .socialMedia .container .mediaContainer{ 
    flex: 0 0 calc(33.333% - 64px);
    
}

.app .mainFooter .socialMedia .container .mediaContainer .media{
    width: 50%;
    height: 50%;
    padding: 12px;
}

.app .mainFooter .socialMedia .container .mediaContainer .media img{
    object-fit: contain;
}
