
body {
    font-size: 1rem;
    font-family: 'Syne', sans-serif;
    line-height: 1.5rem;
    color: #FFFFFF;
    background-color: #3E3E3E;
}

body .container .mainHeader h1{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.20px;
    word-wrap: break-word
    
}

h1{
    margin-left: 45px;
    margin-right: 640px;
}

/* .container {  
    grid-auto-flow: row;
  }

} */

.container .mainHeader .menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    margin-top: 15px;
    
    /* text-decoration: none;
    display: flex;
    align-items: center;
    align-content: flex-start; */


}


.container .mainHeader .menu .listmenu{
    text-decoration: none;
    color: #FFFFFF;
    flex-direction: row;
    align-items: baseline;
    
}
.container .mainHeader .menu .listmenu li{
    position: relative;
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    letter-spacing: 0.20px;
    margin-right: 60px;
    
}

.container .mainHeader .menu .listmenu li a{
    font-size: 20px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    
}

.container .mainHeader .menu .listmenu li a:hover {
    color: rgb(147, 147, 147);
    text-decoration: none; 
}


.container .mainHeader .buttonMenu{
    color: #FFFFFF;
    background-color: none;
    margin-right: 30px;
    margin-top: -10px;
}

.container .mainHeader .buttonMenu:hover{
    color: rgb(147, 147, 147);
}

/* MAIN HEADER */



.mainContent {
    display: grid; 
    grid-template-columns: 53.54% 46.46%; 
    grid-template-rows: 97px 909px 101px; 
    gap: 0px 0px; 
    min-height: 100vh;

}


.mainContent .text{
    grid-row-start: 2; 
	grid-column-start: 1; 
	grid-row-end: 3;
	grid-column-end: 2;
}

.mainContent .text h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 145px;
    margin-left: 150px;
}

.mainContent .text p{
    color: white;
    font-size: 24px;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    word-wrap: break-word
}

.mainContent .text p{
    margin-left: 150px;
    margin-top: 100px;
    margin-right: 148px;
}

.mainContent .contentImg{
    grid-row-start: 2; 
	grid-column-start: 2; 
	grid-row-end: 3;
	grid-column-end: 3;
    width: 100%; 
    height: 100%
}

.mainContent .contentImg .principal{
    padding-right: 0;
    /* margin-left: 61px; */
    width: 761px;
}

