

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

a{
  text-decoration: none;  
}

h1{
    padding-left: 0.9em;
    font-size: 70px;
    
}

h2{
    font-size: 50px;
    text-align: center;
    background-color: rgb(143, 167, 194);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 200px;
    height: 100%;
    margin: 0;
}

p{
    line-height: 25px;
    font-size: 19px;
    padding-right: 9em;
    padding-left: 9em;
    padding-top: 140px;
    text-align: center;
    margin: 0;
}

.titulillos{
    font-weight: bold;
    font-size: 25px;
    padding-right: 9em;
    padding-left: 9em;
    padding-top: 140px;
    text-align: center;
    margin: 0;

}





.menu{
    background-color: black;
    
}

.list{
    display: flex;
    position: relative;
    margin: 0;
}

.menuitem a{
    padding: 2em;
    display: block;
    color: rgb(255, 255, 255);
     }



.menuitem a:hover{
color: rgb(255, 255, 255);
font-weight: bold;

}

.contenedor{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "i1 n1 n1 " 
    "n2 n2 i2 "
    "i3 n3 n3 "
    "n4 n4 i4 "
    "i5 n5 n5 "
    "n6 n6 i6 ";
   
}
.img1{
    height: 100%;
   width: 100%;
   object-fit: cover;
    }
.img2{
    width: 100%;
    object-fit: cover;
}

.img3{
    height: 100%;
   width: 100%;
   object-fit: cover;
    }

    .img4{
        height: 100%;
       width: 100%;
       object-fit: cover;
        }

        .img5{
            height: 100%;
           width: 100%;
           object-fit: cover;
            }

            .img6{
                height: 100%;
               width: 100%;
               object-fit: cover;
                }




.info1{grid-area: i1;}
.nina1{grid-area: n1;}
.info2{grid-area: i2;}
.nina2{grid-area: n2;}
.info3{grid-area: i3;}
.nina3{grid-area: n3;}
.info4{grid-area: i4;}
.nina4{grid-area: n4;}
.info5{grid-area: i5;}
.nina5{grid-area: n5;}
.info6{grid-area: i6;}
.nina6{grid-area: n6;}