
html,
body {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
    color: #333;
    scroll-behavior: smooth;
}

.app {
    display: flex;
    flex-wrap: wrap;
}

.app .mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem; 
    flex-basis: 100%;
    margin: 0;
}

/* HEADER LEFT */

.app .mainHeader .headerLeft {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 30%;
    gap: 1rem;
}

.app .mainHeader .headerLeft .padre {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.app .mainHeader .headerLeft .padre img {
    height: 35px;
    display: flex;
    justify-content: center;
}
.app .mainHeader .headerLeft .padre  .hijo{
    position: absolute;
}

.app .mainHeader .headerLeft .padre .hijo .submenu{
    list-style: none;
    padding: 0;
    position: absolute;
    
    
}

.app .mainHeader .headerLeft .padre  .hijo .submenu li {
    border: #333 solid .5px;
    background-color: white;
    border-radius: 10px;
    padding: .5rem;
    display: flex;
    width:fit-content;
    
}

.app .mainHeader .headerLeft .padre  .hijo .submenu a {
    color: #333;
    text-decoration: none;
}

.hijo{
    display: none;
    
}

.padre:hover .hijo{
    display: block;
}

.app .mainHeader .headerLeft .options {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;


}

.app .mainHeader .headerLeft .options button {
    background-color: transparent;
    border: #333 solid;
    border-radius: 40px;
    padding: 0 .8rem;
    display: flex;
    justify-content: center;
    font-size: .8rem;
    font-weight: bold;
    
}

/* HEADER RIGHT*/ 

.mainHeader .headerRight {
    margin: 0;
    padding: 0;
}

.mainHeader .headerRight .mainName {
    margin: 0;
    padding: 3rem 3rem 0 0 ;
    font-size: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: first baseline;
}

.mainHeader .headerRight .mainSurname {
    margin: 0;
    padding: 1.6rem 3rem 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

/* FIN DE HEADER */

/* NAV */ 

.mainNav {
    padding: 0;
    margin: 0;
    flex-basis: 50%;
    

}

.mainNav .navList {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    position: fixed; 
    right: 0;
    z-index: 999;
    
} 

.mainNav .navList .navListElem {
    display: flex;
    align-items: center;
}

.mainNav .navList .navListElem a{
    color:#333;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;
    align-items: center;

}

.mainNav .navList .navListElem img{
    height: 120px;
    width: 40px;

}


/* MAIN CONTENT */

/* inicio */

.mainContent {
    flex-basis: 100%;
}

.mainContent .inicioSection {
    display: flex;
    justify-content: space-between;
    min-height: 78vh;
}

.mainContent .inicioSection img{
    padding: 0 0 0 5rem;
    height: 512.2px;
    width: 500px;
    position: absolute;
    bottom: 0; 
    
}

.mainContent .inicioSection .fraseAutor{
    padding: 6rem 3rem 0rem 3rem;
    margin-right: 25%;
    font-size: 1.5rem;
}

.mainContent .inicioSection .fraseAutor h2{
    margin: 0 4rem 2rem 32rem;
    line-height: 2.5rem;
}

.mainContent .inicioSection .fraseAutor .autora{
   text-align: right;
   font-weight: normal;
   font-size: 1rem;
   margin-left: 40rem;
   margin-right: 4rem;
}


/* biografía */

.mainContent .biografiaSection {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.mainContent .biografiaSection img{
    padding: 0 0 0 5rem; 
    width: 500px;
    height: 600px;
}

.mainContent .biografiaSection .bioInfo{
    padding: 3.5rem 0 0 0; 
    margin-left: 7rem;
    margin-right: 20rem;
    text-align: justify;
}

.mainContent .biografiaSection .bioInfo h3{
    font-size: 1.8rem;
    color: #F9EB02;
}

.mainContent .biografiaSection .bioInfo p{
    margin-bottom: 3rem;
}

.mainContent .influenciasSection {
    height: 100vh;
    position: relative;
}

.mainContent .influenciasSection img {
    height: 450px;
    width: 800px;
    position: absolute;
    bottom: 0;
}

.mainContent .influenciasSection .influenciasInfo {
    padding: 3.5rem 0 0 4rem;
    display: grid;
    grid-template-columns: 35% 35% 1fr;
    grid-template-rows: 30% 1fr;
    text-align: justify;


}

.mainContent .influenciasSection .influenciasInfo h3{
    font-size: 1.8rem;
    color: #F0891A;
    grid-column: 1;
    grid-row: 1;

}

.mainContent .influenciasSection .influenciasInfo .izquierda {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 3.2rem;
}

.mainContent .influenciasSection .influenciasInfo .derecha {
    grid-column: 2;
    grid-row: 2;
    margin-left: 3rem;
    
}

.mainContent .trabajosSection {
   padding: 0 0 10rem 0;
}

.mainContent .trabajosSection h3 {
    padding: 3.5rem 0 5rem 40%;
    font-size: 1.8rem;
    color: #E22D89;
    margin: 0;
}

.mainContent .trabajosSection .todosTrabajos{
   display: grid;
   grid-template-rows: repeat(3, 500px);
   grid-template-columns: 45% 45%;
 
}
.mainContent .trabajosSection .todosTrabajos .trabajosContenedor1 {

}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor2 {

}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor1{
    position: relative;
   
    
}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor2 {
    position: relative;
    
    
}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor1 img{
    padding: 0 0 0 11rem;
}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor2 img{


}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor1 .textoEncima{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #E22D89;
    border-radius: 50px;
    background-color: white;
    line-height: 3rem;
    padding: 0 2rem 0 2rem;
    
}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor1 .títuloEspecial {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #E22D89;
    border-radius: 100px;
    background-color: white;
    line-height: 2.5rem;
    padding: 0 8rem 0 7rem; 
    
}

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor2 .textoEncima{
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #E22D89;
    border-radius: 50px;
    background-color: white;
    line-height: 3rem;
    padding: 0 5rem 0 6rem;
    
} 

.mainContent .trabajosSection .todosTrabajos .trabajosContenedor2 .títuloEspecialDos{
    position: absolute;
    top: 40%;
    left: 3%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #E22D89;
    border-radius: 50px;
    background-color: white;
    line-height: 3rem;
    padding: 0 6rem 0 6rem;
 
} 

.trabajosContenedor1:hover {
    filter: grayscale(100%);
    transition: filter 0.6s ease;
}

.trabajosContenedor2:hover {
    filter: grayscale(100%);
    transition: filter 0.6s ease;
}

.mainFooter {
    height: auto;
    width: 70%;
    background-color: #333;
    border-radius: 0 100px 0 0;
    
}

.mainFooter .linkList {
    display: flex;
    flex-direction: row;
}

.mainFooter .linkList a {
    color: white;
    font-weight: 600;
    padding: 1rem;

}