html {
    font-family: Readex Pro;
    background-color: beige;
}
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');
@font-face{
    font-family: 'Sporting';
    src:url(../fonts/SportingGrotesque-Regular.woff);
    src:url(../fonts/SportingGrotesque-Regular.woff2);
}
h1{
    font-size: 5em;
    font-family: 'Sporting';
    font-style: normal;
    text-align: center;
    letter-spacing: 5px;

}
.webcontainer{
    font-family: Readex Pro;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 55vw;
}
.webcontainer::-webkit-scrollbar{
    scroll-behavior: smooth;
}
.row {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.row:nth-child(even) {
    flex-direction: row-reverse;
}
.textsubcontainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 380px;
    line-height: 1.3em;
}
h2{
    font-family: 'Sporting';
    font-size: 2em;
}
.h2right{
    text-align: left;
    padding-left: 70px;
}
.h2left{
    text-align: right;
    padding-right: 70px;
}
.textleft{
    justify-content: right;
    text-align:right;
    padding-right: 70px;
}
.textright{
    justify-content: left;
    text-align:left;
    padding-left: 70px;
}
.textsubcontainer{
    font-size: .8em;
}
.imagesubcontainer {
    flex: .5 0 25vw;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
}
.image{
    max-width: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
    border-radius: 35px;
}
article{
    margin-top: 250px;
}
h4{
    font-family: 'Sporting';
    font-size: 2em;
}
#grid{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
    width: 100%;
    height: 100%;
    display: grid;
    grid: 50% 50% / repeat(4/1fr);
    grid-gap:25px;
}
.gridimage{
    max-width: 100%;
    border-radius: 35px;
}
.griditem1{
    grid-column: 1/2;
    position: relative;
    opacity: 0.6;
    transition-duration: 1s ease-in;
     
}
.griditem1:hover, .griditem2:hover, .griditem3:hover, .griditem4:hover{
    opacity: 75%;
    cursor: pointer;
    opacity: 1;
}
.griditem1:before, .griditem2:before, .griditem3:before, .griditem4:before{
    opacity: 75%;
    cursor: pointer;
    opacity: 1;
}
.griditem1:after, .griditem2:after, .griditem3:after, .griditem4:after{
    opacity: 75%;
    cursor: pointer;
    opacity: 1;
}
.griditem2{
    grid-column: 2/3;
    position: relative;
    opacity: 0.6;
}
.griditem3{
    grid-column: 1/2;
    position: relative;
    opacity: 0.6;
}
.griditem4{
    grid-column: 2/3;
    opacity: 75%;
    position: relative;
    opacity: 0.6;
}
.magictext{
    display: block;
    font-family: 'Sporting';
    font-size: 2.5em;
    position: absolute;   
    visibility: none;
    padding: 75px;
    text-decoration: none;
    box-shadow: none;
    color: black;
    text-align: center; 
    opacity: 1; 
}
.magictext:hover{
    cursor: pointer;
    visibility: visible;
    opacity: 1; 
    padding: 75px;
}
.magictext2{
    display: block;
    font-family: 'Sporting';
    font-size: 2.5em;
    position: absolute;   
    visibility: none;
    padding: 60px;
    text-decoration: none;
    box-shadow: none;
    color: black;
    text-align: center;
      
}
.magictext2:hover{
    cursor: pointer;
    visibility: visible;
    opacity: 1; 
    padding: 60px;
}
.contenedorfooter{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 250px;
    font-family: 'Sporting';
    font-size: 2em;
    opacity: 75%;
    font-weight:300;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
.item{
    width: 200px;
    height: 200px;
    margin: 10px;
}
ul{
    overflow: auto;
    list-style: none;
}
li{
    font-family: 'Sporting';
    font-size: 2em;
    opacity: 75%;
    font-weight:300;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
li:last-child {
    border: none;
}
li, a{
    text-decoration: none;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease; 
}
li, a:hover{
    color: #333;
}
li.active a{
    font-weight: normal;
}
a{
    text-decoration: none;
    box-shadow: none;
    color: black;
    position: relative;
    flex-direction: row;
}
.webcontainer::-webkit-scrollbar{
    scroll-behavior: smooth;
}
.email{
    text-align:center;
    padding-top: 50px;
}
.formcontainer{
    font-family: Readex Pro;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 55vw;
    display: grid;
    background-color: cornflowerblue;
    border-radius: 50px;
    padding: 40px;
}
.etiqueta{
    border-radius: 35px;
    margin: .5em 0;
}
.formulario{
    text-align: center;
}
form{
    max-width: 55vw;
}
.btn_primary{
    padding: .5em;
    background-color: whitesmoke;
    border: black;
    border-radius: 10px;
    margin-top: .5em;
    color: black;
    font-family: Readex Pro;
    margin-left: 10px;
}
.gracias{
    font-family: 'Sporting';
    font-size: 2em;
    padding: 25px;
}
.input_text{
    margin-bottom: 1em;
    border-radius: 2px;
    max-width: 25vw;

}


